<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
	rel=stylesheet>
<link href=https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css
	rel=stylesheet>
<title>Idea Edge</title>
<link th:href="@{/css/app.b917a7875b4ca1d1752ed6c0f8bade27.css}"
	rel=stylesheet>
</head>
<body>
	<div id=app></div>
	<script type=text/javascript
		th:src="@{/js/manifest.3ad1d5771e9b13dbdad2.js}"></script>
	<script type=text/javascript
		th:src="@{/js/vendor.5d8910f00e463cc9984d.js}"></script>
	<script type=text/javascript
		th:src="@{/js/app.3d972008cff113eab531.js}"></script>
</body>

<style>
.v-application a {
	color: black;
}
</style>
</html>